body {
    background-color: $white_color;
    overflow-x: hidden;
}

.wrapper {
    width: 100vw;
}

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.container {
    width: 70%;
    margin: auto;
}